<h4>Stock Transfer Notification</h4>
<p>From: {{fromStore}}</p>
<p>To: {{toStore}}</p>
<p>Reference: {{transferId}}</p>

<ul>
  {{#each items}}
    <li>{{product}} - Qty: {{quantity}}</li>
  {{/each}}
</ul>
